body{
 background: linear-gradient(62deg, rgb(226, 78, 27) 0%, rgb(247, 127, 0) 100%);
 min-height: 100vh;
}

h1{
  font-family: 'Nunito', sans-serif;
}

#desc{
  font-family: 'Roboto', sans-serif;
}

.destaque{
  font-style: italic;
}

.trybe{
  color: green;
}

.elementoLi1 {
  font-size: 25px;
}

.elementoLi2 {
  font-size: 20px;
}

.elementoLi3 {
  font-size: 15px;
}