*{
  margin: 0px;
  padding: 0px;
}

body {
 background: linear-gradient(62deg, rgb(226, 78, 27) 0%, rgb(247, 127, 0) 100%);
 min-height: 100vh;
}

h1 {
  font-family: 'Nunito', sans-serif;
}

.destaque {
  font-style: italic;
}

.trybe {
  color: green;
}

.elementoLi1 {
  font-size: 25px;
}

.elementoLi2 {
  font-size: 20px;
}

.elementoLi3 {
  font-size: 15px;
}

#foto, #descricao {
  display: inline-block;
}


#descricao {
  margin-left: 35px;
}

#descricao p{
  font-family: 'Roboto', sans-serif;
}

#foto {
  padding: 5px;
  background-color: black;
  margin-left: 10px;
}

#nome {
 width: 250px;
 margin: auto;
 margin-top: 40px;
}

#lista, #contato, #indice{
  width: 50%;
  margin-left: 340px;
  margin-top: 50px;
  margin-bottom: 40px;
}
