* {
  padding: 0;
  margin: 0;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(62deg, rgb(0, 0, 0) 0%, rgb(15, 15, 20) 100%);
}

#home {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding-bottom: 5rem;
}

#foto-principal {
  border: 5px solid rgb(247, 127, 0);
  border-radius: 50%;
  margin-bottom: 3rem;
  width: 30rem;
}

h1 {
  color: rgb(247, 127, 0);
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

h2 {
  color: rgb(247, 127, 0);
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 400;
}

.links {
  display: inline-block;
  margin-top: 10rem;
}

.fab, .fas{
  color: orange;
  font-size: 6rem;
  margin: 0 3rem 0 3rem;
  transition: color 300ms;
}

.fab:hover {
  color: aqua;
}

#about {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding-bottom: 5rem;
}

#about h2 {
  margin-top: 15rem;
  margin-bottom: 15rem;
  color: darkorange;
  font-weight: 700;
  font-size: 5rem;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  color: lightcyan;
  margin-bottom: 25rem;
}

.destaque {
  font-weight: bold;
  color: cyan;
}

.trybe {
  color: lightgreen;
}

#skills {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding-bottom: 5rem;
}

#menu{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  width: 25%;
  position: fixed;
  margin-top: 25rem;
  margin-left: 3rem;
}

.fas{
  margin-bottom: 7rem;
}

.menu-link{
  display: inline-block;
  padding: 0;
  text-decoration: none;
  align-items: center;
}

.fas:hover{
  color: aqua;
}

.texto-menu{
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  font-weight: 500;
  color: transparent; 
  transition: color 400ms;
}

 .fas:hover ~ .texto-menu{
  color: orange;
}

